.gwt-MenuBarPopup {
	background: #e3e8f3;
}

.gwt-MenuBarPopup td {
	padding: 0px;
}

.gwt-MenuBar-vertical {
	background: #e3e8f3;
}

.gwt-MenuItem {
	text-align: left;
}

table.distances {
	border: none;  
}
table.distances tr {
    vertical-align: top; 
}
table.distances td {
    padding-left: 1em;
}
table.distances hr {
    height: 2px;
    background-color: #e7e7e7;
    border: none;
}