.gwt-CheckBox input {
	vertical-align: middle;
}
.prediction-selection div {
	display: inline;
	margin-right: 8px;
}

.info-label {
	margin-left: 2px;
}

table.distances {
	border: none;  
}
table.distances tr {
    vertical-align: top; 
}
table.distances td {
    padding-left: 1em;
}
table.distances hr {
    height: 2px;
    background-color: #e7e7e7;
    border: none;
}

.resolver-tooltip td {
	padding: 0 2px 4px 2px;
	vertical-align: top;
}
.resolver-tooltip td + td > div {
	width: 300px;
	white-space: normal;
	word-wrap: break-word;
}
.resolver-tooltip .depict {
	position: relative;
}
.resolver-tooltip .depict img {
	margin-top: 0.75em;
}
.resolver-tooltip .depict span {
	position: absolute;
	right: 0px;
	font-size: 0.75em;
}

.description-tooltip {
	width: 300px;
	text-align: left;
}

table.confusion-matrix {
	width: initial;
	margin-bottom: 6px;
	border-collapse: collapse;
}

.confusion-matrix td {
	border: 1px solid #e7e7e7;
	text-align: center;
}
