.gwt-CheckBox input {
	vertical-align: middle;
}
.prediction-selection div {
	display: inline;
	margin-right: 8px;
}

.info-label {
	margin-left: 2px;
}

#compound-distance-panel {
	border: 2px solid #f0f0d2;
}
#compound-distance-panel hr {
	border: 1px solid #f0f0d2;
	width: 96%;
}
#compound-distance-panel > div {
	display: flex;
	align-items: flex-start;
}
#compound-distance-panel table {
	border: none;
}
#compound-distance-panel td:first-child {
	white-space: nowrap
}
#compound-distance-panel td:last-child {
	width: 100%;
}
.analogue-depict {
	margin-bottom: 10px;
}
table.analogue-attr {
	flex-grow: 2;
	width: auto;
}
table.analogue-values {
	width: 16em;
}
table.analogue-values td:last-child {
	word-break: break-all;
}
@media only screen and (max-width: 640px) {
	#compound-distance-panel > div{
		flex-wrap: wrap;
	}
	#compound-distance-panel td:first-child {
		min-width: 8em;
	}
}

.gwt-DisclosurePanel {
	margin: 6px 0px;
}

.gwt-DisclosurePanel .content {
	border-left: none;
	padding: 4px 0px;
	margin-left: 0px;
}

.resolver-tooltip {
	border: none;
}
.resolver-tooltip td {
	padding: 0 2px 4px 2px;
	vertical-align: top;
}
.resolver-tooltip td + td > div {
	width: 300px;
	white-space: normal;
	word-wrap: break-word;
}
.resolver-tooltip .depict {
	position: relative;
}
.resolver-tooltip .depict img {
	margin-top: 0.75em;
}
.resolver-tooltip .depict span {
	position: absolute;
	right: 0px;
	font-size: 0.75em;
}

.description-tooltip {
	width: 300px;
	text-align: left;
}

table.confusion-matrix {
	width: initial;
	margin-bottom: 6px;
	border-collapse: collapse;
}

.confusion-matrix td {
	border: 1px solid #e7e7e7;
	text-align: center;
}
